body {
    margin: 0;
    padding: 0;
}

*, *:after, *:before {
    box-sizing: border-box;
}

.common-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 30px 0;
}

.top-logo {

}

.top-logo a {
    font-size: 40px;
    color: #333;
    text-transform: uppercase;
    text-decoration: none;
}