body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    font-weight: normal;
    font-style: normal;
}

*, *:after, *:before {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.common-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 30px 0;
}

.top-logo a {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.top-logo a span:first-child {
    text-transform: uppercase;
    margin-right: 15px;
}

.top-logo a {
    font-size: 40px;
    color: #333;
    text-decoration: none;
}