.top-menu {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
}

.top-menu-ul {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	padding: 0;
	margin: 0;
}

.top-menu-ul li {
	display: inline;
	list-style: none;
	margin: auto 30px auto 0;
}

.top-menu-ul li a {
	text-decoration: none;
	color: #333;
}

.top-menu-ul li a:hover {

}

.top-menu-ul li a.selected {

}