.bx-auth-profile {
    padding-top: 30px;
}

.profile-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 400px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 15px;
}

.form-group:last-child {
	margin-bottom: 0;
}

label {
    font-size: 14px;
    font-weight: bold;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.starrequired {
    color: red;
}

.form-actions {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.form-actions input {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 14px;
    cursor: pointer;
    margin: 0 15px 0 0;
}

.form-actions input:hover {
    background-color: #0056b3;
}

.form-actions input[type="reset"] {
    background-color: #6c757d;
}

.form-actions input[type="reset"]:hover {
    background-color: #5a6268;
}
